*
!docker/
!docker/Dockerfile.reference
!glm53_setup/
!glm53_setup/**
!config/
!config/runtime.lock.json
!config/freedombench.lock.json
!examples/
!examples/startup.example.toml
!pyproject.toml
!LICENSE
!NOTICE
!LICENSES/
!LICENSES/**
**/__pycache__
**/*.pyc
